:root {
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
}

strong {
    font-weight: 700;
}

a {
    color: inherit;
}

.text_size-m {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text_light {
    color: #F2F2F2;
}

.head {
    position: sticky;
    top: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1.5rem;

    background-color: #161616;
    z-index: 1;
    overflow: hidden;
}

.logo {
    height: 3.125rem;
    width: 2.25rem;

    background-image: url('assets/images/logo.png');
}

.logo_bottom-offset {
    margin-bottom: 1.5rem;
}

.head__menu {
    display: flex;
    flex-direction: column;

    max-height: 0;
    width: 100%;

    transition: max-height .5s ease-out;
}

.head__menu-item {
    position: relative;

    padding: 1rem 0 1rem 3rem;
}

.head__menu-button {
    display: none;
}

.navicon {
    background: #F3F3F3;
    display: block;
    height: 0.125rem;
    position: relative;
    transition: background .2s ease-out;
    width: 1.125rem;
}
  
.navicon:before,
.navicon:after {
    background: #F3F3F3;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navicon:before {
    top: 0.375rem;
}
  
.navicon:after {
    top: -0.375rem;
}

.head__menu-icon {
    padding: 1rem 0.5rem;
}

.head__menu-button:checked ~ .head__menu-icon .navicon {
    background: transparent;
}

.head__menu-button:checked ~ .head__menu-icon .navicon:before,
.head__menu-button:checked ~ .head__menu-icon .navicon:after {
    top: 0;
}
  
.head__menu-button:checked ~ .head__menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.head__menu-button:checked ~ .head__menu-icon .navicon:after {
    transform: rotate(45deg);
}

.head__menu-button:checked ~ .head__menu {
    max-height: 300px;
}

.head__question {
    display: none;

    height: 1.5rem;
    width: 1.5rem;

    background-image: url('assets/images/question.png');
}

.head__question_hover {
    transform: rotate(360deg) scale(1.1, 1.1);
}

.office {
    position: relative;

    height: 29.375rem;

    background-image: url('assets/images/man.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notification {
    display: flex;
    justify-content: center;

    padding: 1rem 0;

    position: absolute;

    width: 100%;

    background-color: #F3F3F3;
    opacity: 0.9;
}

.notification__text {
    text-align: center;

    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.content {
    margin: 0 auto;

    max-width: 64rem;
}

.content__first-block {
    margin-top: 7.5rem;
}

.content__block {
    margin-bottom: 7.5rem;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0 1.5rem;
}

.dialog > * + * {
    margin-top: 2rem;
}

.dialog__byte {
    height: 8.75rem;
    width: 8.75rem;
    min-width: 8.75rem;

    background-image: url('assets/images/face.png'); 
}

.dialog__message {
    flex-grow: 1;

    font-size: 1.5rem;
    line-height: 2rem;
}

.dialog__message_center_align {
    text-align: center;
}

.dialog__message_justified_align {
    text-align: justify;
}

.dialog__message_bold {
    text-decoration: underline;
    color: #D15718;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page__title {
    position: relative;

    margin-bottom: 3rem;

    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.page__title::before {
    content: ' ';

    position: absolute;
    bottom: -1rem;
    right: 50%;

    height: 0.25rem;
    width: 5rem;

    background-color: #D15718;
}

.page__title::after {
    content: ' ';

    position: absolute;
    bottom: -1rem;
    left: 50%;

    height: 0.25rem;
    width: 5rem;

    background-color: #D15718;
}

.page__content {
    display: flex;
    justify-content: center;
}

.business {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.75rem 1.5rem;
    margin: 0 1.5rem;

    background-color: #D15718;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.23);
}

.business__icon {
    width: 4rem;
    height: 4rem;

    background-size: cover;
    background-image: url('assets/images/business.png');
}

.business__text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-align: center;
    color: white;
}

.technologies {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technoligy__circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12.5rem;
    height: 12.5rem;

    background-color: #D15718;
    border-radius: 50%;
}

.technology__react {
    height: 6.25rem;
    width: 6.25rem;

    background-image: url('assets/images/react.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.technology__ts {
    height: 6.25rem;
    width: 6.25rem;

    background-image: url('assets/images/ts.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.technology__redux {
    height: 6.25rem;
    width: 6.625rem;

    background-image: url('assets/images/redux.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.technology__text {
    margin-top: 1.5rem;

    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.partners {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;

    margin: 0 1.5rem;

    max-width: 51.5rem;
}

.partner {
    display: flex;
    flex-direction: column;

    padding: 1.25rem 2.75rem;

    background-color: #FEFEFE;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.23);
}

.partner__bank-icon {
    background-image: url('assets/images/bank.png');
    background-repeat: no-repeat;
    background-position: center;
}

.partner__bank-icon_m-size {
    flex: 0 0 6.25rem;

    height: 6.25rem;
}

.partner__umbrella-icon {
    background-image: url('assets/images/umbrella.png');
    background-repeat: no-repeat;
    background-position: center;
}

.partner__umbrella-icon_m-size {
    flex: 0 0 6.25rem;

    height: 6.25rem;
}

.partner__thumb-up-icon {
    background-image: url('assets/images/thumb-up.png');
    background-repeat: no-repeat;
    background-position: center;
}

.partner__thumb-up-icon_m-size {
    flex: 0 0 6.25rem;

    height: 6.25rem;
}

.partner__event-icon {
    background-image: url('assets/images/event.png');
    background-repeat: no-repeat;
    background-position: center;
}

.partner__event-up-icon_m-size {
    flex: 0 0 6.25rem;

    height: 6.25rem;
}

.partner__pets-icon {
    background-image: url('assets/images/pets.png');
    background-repeat: no-repeat;
    background-position: center;
}

.partner__pets-icon_m-size {
    flex: 0 0 6.25rem;

    height: 6.25rem;
}

.partner__text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    text-align: center;
}

.partner__text strong {
    font-weight: 600;
}

.contacts {
    padding: 1.25rem 2.75rem;
    margin: 0 1.5rem;

    background-color: #FEFEFE;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.23);
}

.contact {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.contact + .contact {
    margin-top: 1.5rem;
    padding-top: 1.5rem;

    border-top: 0.063rem solid #DBDBDB;
}

.contact__icon {
    width: 3.125rem;
    height: 3.125rem;
}

.contact__icon_bottom-offset {
    margin-bottom: 1.5rem;
}

.contact__icon_right-offset {
    margin-right: 1.5rem;
}

.contact__icon_email {
    background-image: url('assets/images/email.png');
}

.contact__icon_in {
    background-image: url('assets/images/in.png');
}

.contact__icon_hh {
    background-image: url('assets/images/hh.png');
}

.contact__icon_phone {
    background-image: url('assets/images/phone.png');
}

.contact__text {
    font-weight: 600;
    letter-spacing: 0.05rem;
    word-break: break-word;
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem 0 1rem;

    background-color: #161616;
}

.footer_top-offset {
    margin-top: 5rem;
}

.footer_text {
    color: #F2F2F2;
    line-height: 1.5rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .head__menu-item {
        font-size: 1rem;
    }

    .head__menu-icon {
        display: none;
    }

    .head__question {
        display: block;
    }

    .head__menu {
        max-height: unset;
        width: unset;

        flex-direction: row;
    }

    .head__menu-item {
        padding: 0 0.875rem;
    }

    .head__menu .head__menu-item + .head__menu-item::before {
        content: ' ';
     
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
     
        height: 1.5rem;
        width: 0.0625rem;
     
        background-color: #C4C4C4;
    }

    .notification__text {
        font-size: 0.875rem;
        line-height: 1.2rem;
        letter-spacing: 0.03rem;
    }

    .dialog {
        flex-direction: row;
    }

    .dialog > * + * {
        margin-top: 0;
        margin-left: 5rem;
    }

    .business {
        flex-direction: row;
    }

    .business__text {
        margin-left: 1.5rem;
        text-align: left;
    }

    .business__icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .business__text {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
        color: white;
    }

    .technologies {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4.25rem;
    }

    .partner {
        flex-direction: row;
    }

    .partner__text {
        margin-left: 1.5rem;
        text-align: justify;
    }

    .contact {
        flex-direction: row;
    }
}